@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 200vh;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(180deg, #275dc277 0%, #1d20b575 100%),
    url("hero.jpg"); /*Usando gradientes para realizar el efecto como sombreado*/
  background-position: center;
  background-size: cover;
  padding: 0.1px; /*Solucion al colapso de margenes*/
  position: relative;
}

.container__text {
  text-align: center;
  margin-top: 150px;
  color: #fff;
}

.text__hero {
  font-size: 4rem;
}

.hero__copy {
  font-size: 2rem;
  font-weight: 300;
  margin: 20px 0;
}

.hero__cta {
  background: #fff;
  text-decoration: none;
  color: #257dc2;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
}

.hero__cta:hover {
  background: #257dc2;
  color: #fff;
}

/*Nos sirve para darle el efecto de hola en la parte inferior del la seccion del hero*/

.hero__wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}
